/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/home/HomeComponents/css/about.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.about_sectionHeader__QbN5F {
    color: lightgray;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Syne', sans-serif;
}

.about_mainDiv__AK2Mj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    padding: 40px;
}

.about_paragraph__mijQr {
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    padding: 10px 0;
    max-width: 70%; 
    margin-right: auto;
}

/* step flow styling */

.about_stepFlow__r0Tri {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
  }
  
  .about_card__ucnGb {
    width: 300px;
    margin: 0 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .about_card__ucnGb.about_animate___9qFo {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about_arrow__ICjKm {
    font-size: 24px;
    margin: 10px 20px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .about_arrow__ICjKm.about_animate___9qFo {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    /* Apply column layout for screens with a maximum width of 768px (typical mobile devices) */
    .about_stepFlow__r0Tri {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    /* Apply rotation to arrow span for screens with a maximum width of 768px (typical mobile devices) */
    .about_arrow__ICjKm span {
      transform: rotate(90deg);
      margin: 10px 0;
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }
}
  


/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/css/home.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.home_layout__gZKkN {
  animation: home_fade__36_FT 2s ease-in;
}

@keyframes home_fade__36_FT {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.home_headerStyle__wDpyI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: #808080;
}

.home_content__A7eay {
    background-image: linear-gradient(to right, #434343, #000);
    min-height: 100vh;
    /* height: 300px; */
    /* padding: 40px; */
    /* background-color: white; */
}

.home_pages__qMC2F {
    padding-top: 100px;
    display: inline-flex
}

.home_pageLink__bHlIf {
  font-size: 20px;
  font-family: 'Syne', sans-serif; 
  font-weight: bold;
}

.home_title__EHGXs {
    font-weight: bold;
    font-size: 20vw;
    font-family: 'Syne', sans-serif;    
}

/* About Section */
.home_about__UP38q {
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* Custom styles for footer */
.home_footer__hkJQ_ {
  background-color: gray;
  color: black;
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}

.home_footerContent__J5Usj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home_footer-content__kGch4 p {
  margin: 0;
}

.home_socialMedia__xswwC {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.home_socialMedia__xswwC li {
  padding-bottom: 15px;
  padding-right: 10px;
}

.home_instagram__vMDmy {
  font-size: 24px;
}

.home_twitter__fUqJP {
  font-size: 24px;
}

.home_facebook__aX37e {
  font-size: 24px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .home_pages__qMC2F {
    padding-top: 10px;
  }

  .home_pageLink__bHlIf {
    margin-bottom: 10px;
  }
}

