DB_CONN=your-db-connection-string (with db host name for docker)

# root user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_DB=todue

# Google Auth stuff
GOOGLE_CLIENT_ID=your-google-client-id

# JWT stuff
JWT_SECRET=your-jwt-secret

# Cors stuff
CORS_ALLOWED_ORIGIN=your-web-client-url

# For Docker to connect to the server
NEXT_PUBLIC_API_URL=http://server:4000

# Session password for iron-session
SESSION_PASSWORD=your-session-password

# OpenCode API key for extraction
OPENCODE_API_KEY=your-opencode-api-key
