DB_CONN=your-db-connection-string (with db host name for docker)

# root user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_DB=cmovie

# Google Auth stuff
GOOGLE_CLIENT_ID=your-google-client-id
