/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/fileDisplay.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.fileDisplay_fileDisplay__4CbTT {
    transform: translateY(20px);
    animation: fileDisplay_fade__NdLqp 2s ease;
}

@keyframes fileDisplay_fade__NdLqp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fileDisplay_pagination__kMgEi {
    display: flex;
    justify-content: center;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/fileInput.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.fileInput_fileInput__FluwT {
    transform: translateY(20px);
    animation: fileInput_fade__6GE_Q 2s ease;
}

.fileInput_titleComp__ufrWZ {
    display: flex;
    justify-content: space-between;
}

.fileInput_card__gjuG9 {
    transform: translateY(20px);
    animation: fileInput_fade__6GE_Q 1s ease;
}

@keyframes fileInput_fade__6GE_Q {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/profile.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.profile_profile__LZGVR {
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid dimgray;
   padding: 10px;
   animation: profile_fade__L4YMa 2s ease;
}

@keyframes profile_fade__L4YMa {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
 }
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_main__pZ4ql {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 6rem;
  min-height: 100vh;
  animation: page_fade__ywbxF 2s ease;
}


@keyframes page_fade__ywbxF {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
