.fileInput {
    transform: translateY(20px);
    animation: fade 2s ease;
}

.titleComp {
    display: flex;
    justify-content: space-between;
}

.card {
    transform: translateY(20px);
    animation: fade 1s ease;
    /* width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}