/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/about.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.about_sectionHeader__QQElk {
    color: lightgray;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Syne', sans-serif;
}

.about_mainDiv__fRpOj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 40px;
}

.about_paragraph__o1vLF {
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    padding: 10px 0;
    max-width: 70%; 
}

/* step flow styling */

.about_stepFlow__lkdil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
  }
  
  .about_card__XbbYL {
    width: 300px;
    margin: 0 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .about_card__XbbYL.about_animate__7khrU {
    opacity: 1;
    transform: translateY(0);
  }

  .about_card__XbbYL:hover {
    transform: scale(1.2);
  }
  
  .about_arrow___j__R {
    font-size: 24px;
    margin: 10px 20px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .about_arrow___j__R.about_animate__7khrU {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    /* Apply column layout for screens with a maximum width of 768px (typical mobile devices) */
    .about_stepFlow__lkdil {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    /* Apply rotation to arrow span for screens with a maximum width of 768px (typical mobile devices) */
    .about_arrow___j__R span {
      transform: rotate(90deg);
      margin: 10px 0;
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }
}
  


/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.home_layout__Rbs4e {
  animation: home_fade__8Z87_ 2s ease-in;
}

@keyframes home_fade__8Z87_ {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.home_headerStyle__kZ0an {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: #808080;
}

.home_content__MUgbz {
    background-image: linear-gradient(to right, #434343, #000);
    min-height: 100vh;
}

.home_pages__zP01P {
    padding-top: 100px;
    display: inline-flex
}

.home_pageLink__arMxq {
  font-size: 20px;
  font-family: 'Syne', sans-serif; 
  font-weight: bold;
}

.home_title__jhZo4 {
    font-weight: bold;
    font-size: 20vw;
    font-family: 'Syne', sans-serif;    
}

/* About Section */
.home_aboutSectionOne__SCTcJ {
  display: flex;
  justify-content: center;
  padding: 40px;
  border-bottom: 1px solid dimgray;
}

/* Custom styles for footer */
.home_footer__sV1_i {
  background-color: gray;
  color: black;
  margin-top: auto;
  padding: 20px 0;
  text-align: center;
}

.home_footerContent__vRl0v {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home_footer-content__lH71I p {
  margin: 0;
}

.home_socialMedia__GfAyK {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.home_socialMedia__GfAyK li {
  padding-bottom: 15px;
  padding-right: 10px;
}

.home_instagram__CLp0r {
  font-size: 24px;
}

.home_twitter__W8nrj {
  font-size: 24px;
}

.home_facebook__7lshE {
  font-size: 24px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .home_pages__zP01P {
    padding-top: 10px;
  }

  .home_pageLink__arMxq {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles/FAQ.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.FAQ_collapseDiv__i5Cu7 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid dimgray;
}
